.search {
  &__input {
    background-color: $elementsBlack;
    padding: 20px 35px;
    color: $white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: url('../search.svg');
    background-size: auto;
    background-position: 5px center;
    background-repeat: no-repeat;
    font-size: 18px;

    &::placeholder {
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }
}