@import "normalize";
@import "fonts";
@import "vars";
@import "header";
@import "search";
@import "countries";
@import "details";
@import "select";

body {
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  background: $backgroundBlack;
  color: $white;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.main__top {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@import "response";