$elementsBlack: hsl(209, 23%, 22%);
$backgroundBlack:  hsl(207, 26%, 17%);
$textColorWhite: hsl(200, 15%, 8%);
$inputColorWhite: hsl(0, 0%, 52%);
$backgroundWhite: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);